{% load staticfiles %}
<!-- Footer -->
<div>
    <br><br><br>
</div>
<footer class="navbar navbar-dark bg-dark mb-0">
    <div class="row col-12 justify-content-center">
        <div style="text-align: center; color: lightgrey;">
            <p class="mb-0">CopyRight © tsparrot.xyz</p>
            <p class="mb-0">Powered by
                <a href="https://www.djangoproject.com/" target="_blank">
                    Django
                </a> &amp;
                <a target="_blank" href="https://getbootstrap.com/">
                    Bootstrap
                </a>
                <a target="_blank" href="http://beian.miit.gov.cn/">
                    京ICP备19056530号
                </a>
            </p>
        </div>
    </div>
</footer>